<!DOCTYPE html>
<html lang="en">
<head>
<title>TripViewer: View and Export your Automatic Trips</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="description" content="View and Export your Automatic Trips">
<%= stylesheet_link_tag 'application', media: 'screen' %>
</head>

<body>
<%= render partial: 'layouts/fork' %>
<div class="mainHeader">
  <div class="wrapper">
    <a href="http://automatic.com" class="logo"></a>
    <div class="titlebar">
      <h1>TripViewer</h1>
      <div class="tagline">View and Export your Automatic Trips</div>
    </div>
  </div>
</div>

<div class="panel signin-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="signin-title">View Your Trips</h2>
        <p>TripViewer shows trips taken with <a href="http://automatic.com" target="_blank">Automatic</a>.  See summary stats, inspect individual trips and download trips as .csv.</p>
      </div>
    </div>
    <div class="row">
      <div class="col md-12">
        <div class="signin-graphics">
          <div class="logo-badge-automatic"></div>
          <div class="icon-integrations-arrows"></div>
          <div class="logo-badge-tripviewer">T</div>
        </div>
      </div>
    </div>
    <div id="alert" class="alert"></div>
    <div class="row border-both">
      <div class="signin-instructions">
        <div class="signin-text">Authorize your Automatic account</div>
      </div>
      <a href="/auth/automatic" class="signin-btn">Authorize</a>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="signin-learnmore"> 
          View this app on  <a href="https://github.com/nateklaiber/automatic-tripviewer-rails" class="link-blue">Github</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'application' %>

</body>
</html>
