<div id="summary">
  <h2 class="pageTitle">Summary</h2>
  <div id="refresh" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i> Refresh</div>
  <div class="row">
    <div style="clear: both;" class="col-sm-4">
      <div id="overall" class="panel panel-default">
        <div class="panel-heading">Total Automatic Stats</div>
        <div class="panel-body"></div>
      </div>
    </div>
    <div class="col-sm-8">
      <div id="graphs" class="panel panel-default">
        <div class="panel-heading">Weekly Driving</div>
        <div class="panel-body">
          <div class="btn-group graph-buttons">
            <button type="button" data-graph-type="distance" class="btn btn-default active">Distance</button>
            <button type="button" data-graph-type="duration_s" class="btn btn-default">Duration</button>
            <button type="button" data-graph-type="trip_count" class="btn btn-default">Trips</button>
            <button type="button" data-graph-type="fuel_cost_usd" class="btn btn-default">Fuel Cost</button>
            <button type="button" data-graph-type="fuel_volume_usgal" class="btn btn-default">Fuel Volume</button>
          </div>
          <div class="graph"></div>
        </div>
      </div>
    </div>
  </div>
</div>
