<section class="signin">
<h1>Automatic Tripviewer</h1>

<section class="info-box">
  <h1>View Your Trips</h1>
  <p>Tripviewer shows trips taken with <%= link_to('Automatic', 'https://automatic.com', rel: 'external automatic') %>. See <em>summary stats</em>, inspect <em>individual trips</em> and <em>export trips as .csv</em>.</p>
</section>
</section>
