.leaflet-container.dark .map-tooltip .close,
.leaflet-control-attribution:after,
.leaflet-control-layers-toggle,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-popup-close-button,
.map-tooltip .close,
.mapbox-icon {
  opacity: .75;
  background-image: image-url('mapbox.js/images/icons-000000@2x.png');
  background-repeat: no-repeat;
  background-size:26px 260px;
}
.leaflet-container.dark .leaflet-control-layers-toggle,
.leaflet-container.dark .leaflet-control-zoom-in,
.leaflet-container.dark .leaflet-control-zoom-out,
.leaflet-container.dark .mapbox-icon,
.mapbox-button-icon:before {
  opacity:1;
  background-image: image-url('mapbox.js/images/icons-ffffff@2x.png');
}
