<h2 class="pageTitle">Trips taken in <%= vehicle.display_name %></h2>
<div id="trips">
  <% if @trips.any? %>
    <%= render(partial: 'trips/trip', collection: @trips.to_a, as: :trip) %>
<% if @pagination.any? %>
<div class="apple_pagination">
  <%= will_paginate(@pagination) %>
</div>
<% end %>
<% end %>
</div>
